$pokedex_y_border : 30px solid #DEDEDE;
$pokedex_x_border : 20px solid #DEDEDE;

$pokemon_type_primary_color :rgba(245, 245, 245, 1);

$loader_primary_color : rgb(245, 245, 245, 1);

$font_primary_color: #FFCC00;
$font_secondary_color: #375CA9;